<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Stride Health | Critical Patients</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/css/icheck/flat/green.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body class="nav-md">

<div class="container body">


    <div class="main_container">

        <% include header.ejs%>




        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Critical Patients</h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="row">

                    <!-------------------------------------------------------------------------------------------------------------------->
                    <a href="patientData/johnData">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="x_panel" >
                                <div class="x_title">
                                    <h2 style="color:rgba(232, 39, 0, 0.70)">John Doe<small>|</small><small style="color:rgba(38, 185, 154, 0.7)">average reaction to Xylapande</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <canvas id="lineJohn"></canvas>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="patientData/bobData">
                        <div class="col-md-4 col-sm-6 col-xs-12" >
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2 style="color:rgba(232, 39, 0, 0.70)">Bob Roberts<small>|</small><small style="color:rgba(38, 185, 154, 0.7)">average reaction to Domperidoone</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <canvas id="canvasBob"></canvas>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="daveData">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title" >
                                    <h2 style="color:rgba(232, 39, 0, 0.70)">Dave Brown<small>|</small><small style="color:rgba(38, 185, 154, 0.7)">average glucose based on diet</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <canvas id="lineDave"></canvas>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="jjData">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2 style="color:rgba(232, 39, 0, 0.70)">JJ Jay<small>|</small><small style="color:rgba(38, 185, 154, 0.7)">average spread</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">

                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <canvas id="canvasJJ"></canvas>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="cathyData">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2 style="color:rgba(232, 39, 0, 0.70)">Cathy Smalls<small>|</small><small style="color:rgba(38, 185, 154, 0.7)">average reaction to Moxifloxin</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <canvas id="lineCathy"></canvas>
                                </div>
                            </div>
                        </div>
                    </a>
                     <a href="tomData">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2 style="color:rgba(232, 39, 0, 0.70)">Tom Sawyer<small>|</small><small style="color:rgba(38, 185, 154, 0.7)">average spread</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <canvas id="lineTom"></canvas>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="clearfix"></div>
                <br />
            </div>
            <!--------------------------------------------------------------------------------------------------------------------->
            <!-- footer content -->
            <footer>

                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->

        </div>
        <!-- /page content -->
    </div>

</div>
<!------------------------------------------------------>


<div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
</div>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/moment/moment.min.js"></script>
<script src="/js/chartjs/chart.min.js"></script>
<script src="/js/progressbar/bootstrap-progressbar.min.js"></script>
<script src="/js/nicescroll/jquery.nicescroll.min.js"></script>
<script src="/js/icheck/icheck.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/pace/pace.min.js"></script>
<script src="/javascripts/jquery-2.2.3.min.js"></script>
<script src="/javascripts/angular.min.js"></script>
<script src="/javascripts/controller.js"></script>


<script>
    Chart.defaults.global.legend = {
        enabled: false
    };

    // Line chart
    var ctx = document.getElementById("lineJohn");
    var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Week 1", "Week 2", "Week 3", "Week 4", "Week 5", "Week 6", "Week 7"],
            datasets: [{
                label: "My First dataset",
                backgroundColor: "rgba(38, 185, 154, 0.31)",
                borderColor: "rgba(38, 185, 154, 0.7)",
                pointBorderColor: "rgba(38, 185, 154, 0.7)",
                pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointBorderWidth: 1,
                data: [56, 76, 72, 61, 56, 53, 51]
            }, {
                label: "My Second dataset",
                backgroundColor: "rgba(232, 39, 0, 0.31)",
                borderColor: "rgba(232, 39, 0, 0.70)",
                pointBorderColor: "rgba(232, 39, 0, 0.70)",
                pointBackgroundColor: "rgba(232, 39, 0, 0.70)",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgba(151,187,205,1)",
                pointBorderWidth: 1,
                data: [41, 70, 78, 52, 60, 32, 20]
            }]
        },
    });
    var ctx = document.getElementById("canvasBob");
    var data = {
        labels: ["Heart Rate", "Glucose", "Blood Pressure", "Insulin", "Weight", "Age", "Height"],
        datasets: [{
            label: "My First dataset",
            backgroundColor: "rgba(3, 88, 106, 0.2)",
            borderColor: "rgba(3, 88, 106, 0.80)",
            pointBorderColor: "rgba(3, 88, 106, 0.80)",
            pointBackgroundColor: "rgba(3, 88, 106, 0.80)",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            data: [65, 59, 90, 81, 56, 55, 40]
        }, {
            label: "My Second dataset",
            backgroundColor: "rgba(232, 39, 0, 0.2)",
            borderColor: "rgba(232, 39, 0, 0.70)",
            pointColor: "rgba(232, 39, 0, 0.7)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 96, 27, 100]
        }]
    };
    var canvasRadar = new Chart(ctx, {
        type: 'radar',
        data: data,
    });
    var ctx = document.getElementById("lineTom");
    var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Week 1", "Week 2", "Week 3", "Week 4", "Week 5", "Week 6", "Week 7"],
            datasets: [{
                label: "My First dataset",
                backgroundColor: "rgba(38, 185, 154, 0.31)",
                borderColor: "rgba(38, 185, 154, 0.7)",
                pointBorderColor: "rgba(38, 185, 154, 0.7)",
                pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointBorderWidth: 1,
                data: [56, 76, 72, 61, 56, 53, 51]
            }, {
                label: "My Second dataset",
                backgroundColor: "rgba(232, 39, 0, 0.31)",
                borderColor: "rgba(232, 39, 0, 0.70)",
                pointBorderColor: "rgba(232, 39, 0, 0.70)",
                pointBackgroundColor: "rgba(232, 39, 0, 0.70)",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgba(151,187,205,1)",
                pointBorderWidth: 1,
                data: [41, 70, 78, 52, 60, 32, 20]
            }]
        },
    });
    var ctx = document.getElementById("canvasJJ");
    var data = {
        labels: ["Calorie Intake", "Cholesterol", "Carb Intake", "Mins. Elevated Heartrate"],
        datasets: [{
            label: "My First dataset",
            backgroundColor: "rgba(3, 88, 106, 0.2)",
            borderColor: "rgba(3, 88, 106, 0.80)",
            pointBorderColor: "rgba(3, 88, 106, 0.80)",
            pointBackgroundColor: "rgba(3, 88, 106, 0.80)",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            data: [75, 59, 90, 30]
        }, {
            label: "My Second dataset",
            backgroundColor: "rgba(232, 39, 0, 0.2)",
            borderColor: "rgba(232, 39, 0, 0.70)",
            pointColor: "rgba(232, 39, 0, 0.7)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [95, 65, 40, 19]
        }]
    };
    var canvasRadar = new Chart(ctx, {
        type: 'radar',
        data: data,
    });
    var ctx = document.getElementById("lineDave");
    var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Week 1", "Week 2", "Week 3", "Week 4", "Week 5", "Week 6", "Week 7"],
            datasets: [{
                label: "My First dataset",
                backgroundColor: "rgba(38, 185, 154, 0.31)",
                borderColor: "rgba(38, 185, 154, 0.7)",
                pointBorderColor: "rgba(38, 185, 154, 0.7)",
                pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointBorderWidth: 1,
                data: [56, 76, 72, 61, 56, 53, 51]
            }, {
                label: "My Second dataset",
                backgroundColor: "rgba(232, 39, 0, 0.31)",
                borderColor: "rgba(232, 39, 0, 0.70)",
                pointBorderColor: "rgba(232, 39, 0, 0.70)",
                pointBackgroundColor: "rgba(232, 39, 0, 0.70)",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgba(151,187,205,1)",
                pointBorderWidth: 1,
                data: [41, 70, 78, 52, 60, 32, 20]
            }]
        },
    });
    var ctx = document.getElementById("lineCathy");
    var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Week 1", "Week 2", "Week 3", "Week 4", "Week 5", "Week 6", "Week 7"],
            datasets: [{
                label: "My First dataset",
                backgroundColor: "rgba(38, 185, 154, 0.31)",
                borderColor: "rgba(38, 185, 154, 0.7)",
                pointBorderColor: "rgba(38, 185, 154, 0.7)",
                pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointBorderWidth: 1,
                data: [56, 76, 72, 61, 56, 53, 51]
            }, {
                label: "My Second dataset",
                backgroundColor: "rgba(232, 39, 0, 0.31)",
                borderColor: "rgba(232, 39, 0, 0.70)",
                pointBorderColor: "rgba(232, 39, 0, 0.70)",
                pointBackgroundColor: "rgba(232, 39, 0, 0.70)",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgba(151,187,205,1)",
                pointBorderWidth: 1,
                data: [41, 70, 78, 52, 60, 32, 20]
            }]
        },
    });


    // Radar chart


</script>

</body>

</html>
