<div class="col-md-3 left_col">
    <div class="left_col scroll-view">

        <div class="navbar nav_title" style="border: 0;">
            <a href="/index" class="site_title"><i class="fa fa-heartbeat"></i> <span>Stride Health</span></a>
        </div>
        <div class="clearfix"></div>

        <!-- menu prile quick info -->
        <div class="profile">
            <div class="profile_pic">
                <img src="/images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>Dr. Jay Guan</h2>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- /menu prile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">

                <ul class="nav side-menu">
                    <li><a><i class="fa fa-hospital-o"></i> Home <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li>
                                <a href="/index">Dashboard</a>
                            </li>
                            <li>
                                <a href="/patientDatabase">Patient Database</a>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-stethoscope"></i> Data Search <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="/upcoming">Upcoming</a>
                            </li>
                            <li><a href="/critical">Critical</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->


    </div>
</div>
<div class="top_nav">

    <div class="nav_menu">
        <nav class="" role="navigation">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="/images/img.jpg" alt="">Dr. Jay Guan
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                        <li><a href="javascript:;">  Profile</a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span class="badge bg-red pull-right">50%</span>
                                <span>TODO List</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">Help</a>
                        </li>
                        <li><a href="/login"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                        </li>
                    </ul>
                </li>

                <li role="presentation" class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-green">4</span>
                    </a>
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
                        <li>
                            <a>
                      <span class="image">
                                        <img src="/images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>Times Health</span>
                      <span class="time">1 day ago</span>
                      </span>
                      <span class="message">
                                        The FDA has approved a new drug for the disease. A new treatment for HIV ...
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a>
                      <span class="image">
                                        <img src="/images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>Times Health</span>
                      <span class="time">1 day ago</span>
                      </span>
                      <span class="message">
                                        World Health Organization offers ideas to lower prevalence of disease. The percentage of people aro ...
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a>
                      <span class="image">
                                        <img src="/images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>Stride</span>
                      <span class="time">2 days ago</span>
                      </span>
                      <span class="message">
                                        Appointment scheduled for John Smith: June 13th - 12:30 <a href="#">Details</a>
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a>
                      <span class="image">
                                        <img src="/images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>Sarah Smith</span>
                      <span class="time">1 week ago</span>
                      </span>
                      <span class="message">
                                        Update of patient information: March 2016 - Sarah Smith
                                    </span>
                            </a>
                        </li>

                    </ul>
                </li>

            </ul>
        </nav>
    </div>

</div>